# Files ignored
Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.pyc
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
!SurveyTool.lib
*.sbr
*.tmp
*.dll0
*.dotCover
*.DotSettings
*.pyc
*.suo
#*.dll*
#!*EF.CodeGenerators.dll
*.publish.xml
*.uploading.cfg